@charset "UTF-8";

@media screen and (min-width:768px) and (max-width: 992px){/* TABLETS */
    body{
        background-image: linear-gradient(to top, #353535 20%, #775142);
    }
    section#login{
        width: 80vw;
        height: 320px;
    }
    section#login > div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
        font-size: 1em;
    }
    form > input[type=submit]{
        width: 96%;
    }
    form > a.botao{
        width: 96%;
    }
    div.campo > input{
        width: calc(100% - 48px);
    }
}

@media screen and (min-width: 992px)/* and (max-width: 1200px)*/{
    body{/*BIG SCREENS*/
        background-image: linear-gradient(to top, #353535 20%, #775142);
    }
    section#login{
        width: 950px;
        height: 330px;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario{
        float: left;
        width: 50%;
    }
    div#formulario > h1{
        font-size: 2em;
        color: #353535;
    }
    div#formulario > p{
        font-size: 1.3em;
        text-align: center;
        color: #353535;
    }
    form > input[type=submit]{
        width: 96%;
    }
    form > a.botao{
        width: 96%;
    }
    div.campo > input{
        width: calc(100% - 48px);
    }
}